.registrationData {
    /* display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 20px 20px; */

    /* display: grid; */
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 380px;
    max-width: 500px;
    /* grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr); */
    gap: 25px;
    /* margin: 20px 20px; */
}

.addRegistrationButton{
    font-family: inherit;
    background: #eee;
    border: none;
    border-radius: 5px;
    padding: 7px;
    box-shadow: 0 2px 5px #3F2305;
    margin-bottom: 60px;
}

.addRegistrationButton * {
    text-decoration: none;
    color: black;
}

.list-registrations .error-message{
    color: red;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

@media (min-width: 768px) and (max-width: 1200px){
    .registrationData {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 320px) and (max-width: 768px){

    .registrationData {
        grid-template-columns: repeat(1, 1fr);
    }

}