.statistics{
    font-size: 0.9rem;
    background-color: #F4DFC8;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    height: 260px;
    width: 330px;
    padding: 10px 30px 30px 30px;
    border-radius: 15px;
    margin: 50px auto 0 auto;
}

.statistics label{
    display: block;
    margin-top: 5px;
}

.statistics .error-message{
    font-size: 0.8rem;
    color: red;
}

fieldset:last-of-type{
    margin-bottom: 5px;
}

.error-paragraph{
    margin-top: 20px;
}

.stat-buttons{
    display: flex;
    justify-content: space-between;
}

.stat-buttons *{
    width: 100px;
}

